body {
    font-family: "리디바탕", "ridi-batang";
    margin: 0;
}

#mcard {
    margin: auto;
    width: 600px;
    text-align: center;
}

.gap50 {
    height: 50px;
}

.gap30 {
    height: 30px;
}

.gap10 {
    height: 10px;
}